In [0]:
https://docs.databricks.com/gcp/en/views/dynamic

In [0]:
select * from auto.naval_gold.agg_heartrate

In [0]:
/*create or replace view auto.chetna_gold.heartrate 
as 
SELECT * FROM heartrate_device  
where
CASE
    WHEN is_account_group_member('account users') THEN device_id>17
    ELSE True
  END;
*/
use catalog auto;
CREATE OR REPLACE VIEW auto.chetna_gold.agg_heartrate AS (
  SELECT 
  CASE WHEN
    is_account_group_member('account users') THEN 'REDACTED'
    ELSE mrn
  END AS mrn, 
  name, 
  MEAN(heartrate) avg_heartrate, 
  DATE_TRUNC("DD", time) date
  FROM auto.naval_silver.heartrate_device
  where
  CASE
    WHEN is_account_group_member('account users') THEN any_value(device_id) > 17
    ELSE True
  END
  GROUP BY mrn, name, DATE_TRUNC("DD", time)
);

In [0]:
CREATE OR REPLACE VIEW chetna_gold.agg_heartrate AS (
  SELECT 
  CASE WHEN
    is_account_group_member('da') THEN 'REDACTED'
    ELSE mrn
  END AS mrn, 
  name, 
  MEAN(heartrate) avg_heartrate, 
  DATE_TRUNC("DD", time) date
  FROM auto.naval_silver.heartrate_device
  where
  CASE
    WHEN is_account_group_member('da') THEN heartrate>53
    ELSE True
  END
  GROUP BY mrn, name, DATE_TRUNC("DD", time)
);

In [0]:
select * from chetna_gold.agg_heartrate

In [0]:
CREATE OR REPLACE FUNCTION datamask(x STRING)
  RETURNS STRING
  RETURN CONCAT(REPEAT("*", LENGTH(x) - 2), RIGHT(x, 2)
);

In [0]:
select datamask("87chets.joshi@gmail.com") as masked_email

In [0]:
CREATE OR REPLACE VIEW chetna_gold.agg_heartrate AS (
  SELECT 
  CASE WHEN
    is_account_group_member('da') THEN datamask(mrn)--'REDACTED'
    ELSE mrn
  END AS mrn, 
  name, 
  MEAN(heartrate) avg_heartrate, 
  DATE_TRUNC("DD", time) date
  FROM auto.naval_silver.heartrate_device
  where
  CASE
    WHEN is_account_group_member('da') THEN heartrate>53
    ELSE True
  END
  GROUP BY mrn, name, DATE_TRUNC("DD", time)
);

In [0]:
select * from chetna_gold.agg_heartrate