In [0]:
inserts, update , delete: change data capture 

merge into : avoid duplicates 

upsert: UPdate inSERT

In [0]:
data=([(1,'Sachin','Mumbai'),(2,'Virat','Delhi')])
schema="id int, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
data=([(3,'Dhoni','Chennai'),(2,'Virat','London')])
schema="id int, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source;

In [0]:
data=([(5,'Rohit','Mumbai'),(2,'Virat','Bengaluru')])
schema="no string, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
insert into auto.chetna_silver.emp select * from source

In [0]:
%sql
select * from auto.chetna_silver.emp

In [0]:
%sql
create table auto.chetna_silver.emp (id int, name string, city string)

In [0]:
data=[(1,'Sachin','Mumbai','delete'),(2,'Virat','Bengaluru','Update'),(3,'Bumrah','Punjab','Insert')]
schema="id int, name string, city string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
MERGE INTO auto.chetna_silver.emp t
USING source s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
    t.name = s.name,
    t.city = s.city
--when matched and operation='delete'
--then delete
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    city
  )
  VALUES (
   s.id,
   s.name,
   s.city
  )

In [0]:
%sql
select * from auto.chetna_silver.emp

In [0]:
data=([(3,'Dhoni','Chennai','Insert'),(2,'Virat','Banglore','Update'),(1,'Sachin','Mumbai','Delete')])
schema="id int, name string, city string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
MERGE INTO auto.chetna_silver.emp t
USING source s
ON t.id = s.id
when matched and operation='delete'
then delete
WHEN MATCHED THEN
  UPDATE SET
    t.id = s.id,
    t.name = s.name,
    t.city = s.city
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    city
  )
  VALUES (
   s.id,
   s.name,
   s.city
  )

In [0]:
%sql
select * from source

In [0]:
%sql
select * from auto.chetna_silver.emp

In [0]:
-- after running the merge

In [0]:
df.write.mode("overwrite").saveAsTable("auto.naval_silver.emp")